:root {
    --basic-white: #FFFFFF;
    --basic-pure-cyan: #00B6DD;
    --basic-dark-blue: #081580;
    --basic-grayish-blue: #D3D8E4;
  }

body{
    font-family: "NotoSans", "Arial", sans-serif;
    font-weight: 400;
}
h1{
    color: var(--basic-white);
    margin:0;
}
.wrapper{
    background-color: rgba(1, 1, 1, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.main-header{
    background: url(img/header_background.png) no-repeat;
    background-size: cover;
}
.main-header h1{
    text-align: center;
    font-size: 46px;
    line-height: 48px;
    letter-spacing: 1px;
}
.solutions-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.solutions-item{
    border: 1px solid var(--basic-grayish-blue);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.solutions-item-category{
    background-color: var(--basic-pure-cyan);
    position: absolute;
    left: 0%;
    right: 44.93%;
    top: 2.73%;
    bottom: 90%;
    color: var(--basic-white);
    text-transform: uppercase;
    text-align: center;
    width: max-content;
    padding: 0px 15px;
}
.solutions-item-logo{
    width: 100%;
}
.solutions-item-author{
    color: var(--basic-pure-cyan);
    flex-basis: 100%;
}
.solutions-item-header{
    font-weight: 400;
}
.solutions-item-author,
.solutions-item-header,
.solutions-item-description{
    margin: 0;
}
.button{
    padding: 8px 28px 10px 28px;   
    text-decoration: none;
    color: var(--basic-white);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.8px;
    align-self: flex-end;
}
.button:hover{
    opacity: 0.6;
}
.button-blue{
    background-color: var(--basic-dark-blue);
}
.button-cyan{
    background-color: var(--basic-pure-cyan);
}
.header-text-blue{
    color: var(--basic-dark-blue);
}
.category-text-blue{
    background-color: var(--basic-dark-blue);
}

@media screen and (max-width: 575px) {
   .main-header{
        height: 274px;
        margin-bottom: 50px;
   }
   .solutions-item-logo{
        height: 140px;
    }
    .solutions-item-author{
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.8px;
        margin-top: 12px;  
        margin-bottom: 6px; 
    }
    .solutions-item-header{
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    .solutions-item-description{
        margin-bottom: 20px;
    }
    .solutions-item{
        width: 258px;
        margin-bottom: 30px;
        padding:16px;
    }
    .solutions-item-category{
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1px;
        padding-top: 5px;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .main-header{
        height: 236px;
        margin-bottom: 50px;
    }
    .solutions-item{
        width: 490px;
        margin-bottom: 30px;
        padding:28px;
    }
    .solutions-item-author{
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.8px;
        margin-top: 18px;  
        margin-bottom: 6px; 
    }
    .solutions-item-header{
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 1px;
        margin-bottom: 12px;
    }
    .solutions-item-description{
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.6px;
        margin-bottom: 26px;
    }
    .solutions-item-logo{
        height: 150px;
    }
    .solutions-item-category{
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .main-header{
        height: 276px;
        margin-bottom: 60px;
    }
    .solutions-item-logo{
        height: 150px;
    }
    .solutions-item-author{
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.8px;
        margin-top: 18px;
        margin-bottom: 6px;
    }
    .solutions-item-header{
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 1px;
        margin-bottom: 12px;
    }
    .solutions-item-description{
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.6px;
        margin-bottom: 26px;
    }
    .solutions-item{
        width: 289px;
        margin-bottom: 30px;
        margin-right: 30px;
        padding:28px;
    }
    .solutions-item-category{
        padding-top: 5px;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .main-header{
        height: 340px;
        margin-bottom: 80px;
    }
    .main-header h1{
        font-size: 54px;
        line-height: 60px;
        letter-spacing: 1.2px;
    }
    .solutions-item-logo{
        height: 170px;
    }
    .solutions-list{
        width: 960px;
        margin:0 auto;
    }
    .solutions-item:nth-child(2n){
        margin-right: 0px;
    }
    .solutions-item-author{
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.8px;
        margin-top: 20px;
        margin-bottom: 6px;
    }
    .solutions-item-header{
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 1.2px;
        margin-bottom: 16px;
    }
    .solutions-item-description{
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.8px;
        margin-bottom: 30px;
    }
    .solutions-item{
        width: 403px;
        margin-bottom: 30px;
        margin-right: 30px;
        padding: 30px;
    }
    .button{
        font-size: 13px;
        line-height: 20px;
    }
    .solutions-item-category{
        padding-top: 6px;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 1.2px;
    }
}
@media screen and (min-width: 1200px){
    .main-header{
        height: 396px;
        margin-bottom: 100px;
    }
    .main-header h1{
        font-size: 62px;
        line-height: 68px;
        letter-spacing: 1.4px;
    }
    .solutions-list{
        width:1240px;
        margin:0 auto;
    }
    .solutions-item-logo{
        height: 170px;
    }
    .solutions-item-author{
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.8px;
        margin-top: 20px;
        margin-bottom: 6px;
    }
    .solutions-item-header{
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 1.2px;
        margin-bottom: 16px;
    }
    .solutions-item-description{
        font-size: 16px;    
        line-height: 26px;
        letter-spacing: 0.8px;
        margin-bottom: 30px;
    }
    .solutions-item{
        width: 298px;
        margin-bottom: 30px;
        margin-right: 30px;
        padding: 30px;
    }
    .button{
        font-size: 13px;
        line-height: 20px;
    }
    .solutions-item-category{
        padding-top: 6px;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 1.2px;
    }
}

